.main {
    display: flex;
    align-items: start;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.body{
  display: flex;
  height: 100%;
  width: 100%;
}
.day {
    position: absolute;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
}

.night {
    position: absolute;
    background-image: url("../../public/Night.jpg");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem;
    width: 22.4rem;
    height: 100%;
    gap: 0.1rem;
}

.tempContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.gap {
    width: 100%;
    height: 1rem;
}

.mainTemp {
    font-family: "Roboto";
    font-size: 96px;
    color: white;
}

.skyStatus {
    font-family: "Geologica";
    font-size: 32px;
    color: white;
}

.tempInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
}

.maxMin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
}

.humidityStatus {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.textFont {
    font-family: "geologica";
    font-size: 20px;
    color: white;
}

.hoursFont {
    font-family: "geologica";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 350;
    color: rgb(230, 230, 230);
    width: 100%;
    height: 2rem;
}

.forecastContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14.9rem;
    height: 9.2rem;
    border-radius: 1rem;
    background-color: rgba(32, 32, 32, 0.137);
    backdrop-filter: blur(1rem);
}

.hoursContainer {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}

.lineSeparate {
    background-color: rgba(255, 255, 255, 0.3);
    width: 85%;
    height: 2px;
}

.forecastIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    gap: 3.4rem;
    width: 100%;
}

.forecastTemps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.2rem;
    width: 100%;
    gap: 3.2rem;
}

.forecastFont {
    font-family: "Inter";
    font-weight: 500;
    font-size: 20px;
    color: rgb(243, 243, 243);
}

.timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2rem;
  width: 100%;
  height: 100%;
  gap: 0.1rem;
}

.timeNow {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hours {
  display: flex;
  font-family: "Roboto";
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
  width: 100%;
  font-size: 9rem;
  font-weight: 750;
  color: white;
}

.minutes {
  display: flex;
  font-family: "Roboto";
  padding-left: 2rem;
  align-items: end;
  justify-content: end;
  width: 100%;
  height: 8.2rem;
  font-size: 9rem;
  font-weight: 350;
  color: white;
}

.infoCotainer {
    padding-top: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: end;
    gap: 1.5rem;
}

.newsCotainer {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    left: 3.2rem;
    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: rgba(32, 32, 32, 0.137);
    backdrop-filter: blur(1rem);
}

.newsList {
    display: flex;
    position: relative;
    align-items: start;
    justify-content: start;
    padding: 0.55rem;
    gap: 5rem;
    transition: right 1s;
}

.newsGap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.newsFont {
    font-family: "Roboto";
    font-size: 1.7rem;
    color: white;
}

.newsTittle {
    color: white;
    font-family: "geologica";
}

.valueQuotesContainer {
    display: flex;
    gap: 0.5rem;
    width: 7.5rem;
}

.moonContainer {
    display: flex;
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    background-color: rgba(54, 54, 54, 0.507);
}